html, body
{
	height: 100%;
}

main {
	min-height: calc(100% - (147px + 56px));
}

/* Home */

.master-header 
{
	height: 100vh;
	padding-top: 0;
	padding-bottom: 0;
}

section
{
	padding: 8rem 0;
}

/* Contact */

.contact-list
{
	list-style: none;
	padding-left: 15px;
}

.form-row > .col > label
{
    padding-left: 29px;
}

.fab
{
	padding: 10px;
  	font-size: 15px;
  	width: 35px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
}

.fa-google
{
  background: #dd4b39;
  color: white;
}

.fa-linkedin
{
	background: #007bb5;
  	color: white;
}

.fa-codepen
{
	background: #42C297;
	color: white;
}

.fa-discord
{
	font-size: 30px;
	padding: 10px 0;
}

/* Footer */

.footer
{
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/* Login */

.login-body {
	margin-top: 50%;
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.login-body .form-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.login-body .form-body {
	padding: 2rem;
}

.form-login
{
	width: 100%;
}

.form-login .btn
{
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group
{
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input
{
	height: auto;
	border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label,
.form-label-group > textarea
{
	padding: .75rem 1.5rem;
}

.form-label-group > label
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group textarea::-webkit-input-placeholder
{
	color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group textarea:-ms-input-placeholder
{
	color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group textarea::-ms-input-placeholder
{
	color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group textarea::-moz-placeholder
{
	color: transparent;
}

.form-label-group input::placeholder,
.form-label-group textarea::placeholder
{
	color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown)
{
	padding-top: calc(.75rem + .75rem * (2 / 3));
	padding-bottom: calc(.75rem / 3);
}

.form-label-group input:not(:placeholder-shown)~label,
.form-label-group textarea:not(:placeholder-shown)~label
{
	padding-top: calc(.75rem / 3);
	padding-bottom: calc(.75rem / 3);
	font-size: 12px;
	color: #777;
}