<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h2>Contact Us</h2>
				<ul class="contact-list">
					<li><p><i class="fab fa-google"></i>&nbsp;<span>miikamottonen@gmail.com</span></p></li>
					<li><p><i class="fab fa-linkedin"></i>&nbsp;<span><a href="https://www.linkedin.com/in/miikamöttönen">/in/miikamöttönen</a></span></p></li>
					<li><p><i class="fab fa-codepen"></i>&nbsp;<span><a href="https://codepen.io/Tupla/pens/public/">Tupla</a></span></p></li>
				</ul>
			</div>

			<div class="col-lg-8">
				<h2>Contact Form</h2>
				<p class="text-muted">
                    <strong>*</strong> These fields are required.
                </p>
                <br>

				<form method="post">
					<div class="form-row">
						<div class="form-label-group col">
							<input type="text" name="firstname" class="form-control" id="form_firstname" placeholder="First name *" required>
							<label for="form_firstname">First name *</label>
						</div>

						<div class="form-label-group col">
							<input type="text" name="lastname" class="form-control" id="form_lastname" placeholder="Last name *" required>
							<label for="form_lastname">Last name *</label>
						</div>
					</div>

					<div class="form-label-group">
						<input type="email" name="email" class="form-control" id="form_email" placeholder="Email address *" required>
						<label for="form_email">Email address *</label>
					</div>

					<div class="form-label-group">
						<textarea name="message" class="form-control" id="form_textarea" placeholder="Message for me *" rows="4" required></textarea>
						<label for="form_textarea">Message for me *</label>
					</div>

					<button type="submit" class="btn btn-success">Send Message</button>
				</form>
			</div>
		</div>
	</div>
</section>