<header class="master-header text-center d-flex">
	<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h1>Master Header</h1>
			</div>
		</div>
	</div>
</header>

<section class="bg-primary text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Section</h2>
			</div>
		</div>
	</div>
</section>

<section class="bg-light text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Section</h2>
			</div>
		</div>
	</div>
</section>

<section class="bg-primary text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Section</h2>
			</div>
		</div>
	</div>
</section>