<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="login-body card">
				<div class="form-body">
					<h5 class="form-title text-center">Sign In</h5>
					<form class="form-login" method="post">
						<div class="form-label-group">
							<input type="text" name="username" class="form-control" id="form_username" placeholder="Username" required autofocus>
							<label for="form_username">Username</label>
						</div>

						<div class="form-label-group">
							<input type="password" name="password" class="form-control" id="form_password" placeholder="Password" required>
							<label for="form_password">Password</label>
						</div>
						
						<button type="submit" name="login-submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign in</button>
						<p><?= $_msg ?></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
