<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1><?= $title ?></h1>
			<p class="lead">by <?= $author ?></p>
			<img class="img-fluid rounded" src="http://placehold.it/700x400" alt="">
			<p><?= $_content ?></p>

			<!-- <div class="card my-4">
            	<h5 class="card-header">Leave a Comment:</h5>
            	<div class="card-body">
          			<form>
		                <div class="form-group">
							<textarea class="form-control" rows="3"></textarea>
		                </div>
		                <button type="submit" class="btn btn-primary">Submit</button>
              		</form>
        		</div>
          	</div> -->
          	
		</div>
	</div>
</div>

