<div class="text-center">
	<h1>Projects list</h1>
</div>
<div class="container">
	<div class="row"></div>
		<?php foreach ($projects as $project) { ?>
			<div class="col-lg-4">
				<div class="card">
	            	<a href="/project/<?= $project['url'] ?>"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
	            	<div class="card-body">
						<h4 class="card-title">
	                		<a href="/project/<?= $project['url'] ?>"><?= $project['title'] ?></a>
	              		</h4>
						<p class="card-text"><?= $project['description'] ?></p>
	            	</div>
				</div>
	        </div>
		<?php } ?>
	</div>
</div>
<div style="margin-bottom: 30px;"></div>